<section id="experiencia" class="py-16 text-backgroundDark scroll-m-20  dark:text-background">
    <div class="max-w-5xl mx-auto px-4">
        <h2 class="text-2xl font-bold mb-12 flex items-center gap-2">
            <span >


                <svg class="h-10 w-10" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <rect width="50" height="50" fill="url(#pattern0_35_512)"/>
                    <defs>
                    <pattern id="pattern0_35_512" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_35_512" transform="scale(0.0111111)"/>
                    </pattern>
                    <image id="image0_35_512" width="90" height="90" preserveAspectRatio="none" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAACXBIWXMAAAsTAAALEwEAmpwYAAACMUlEQVR4nO2cTU4bQRBGZ0XwzqqvRyJkJG98nxwEMDucc8CdIKxIrpFdRDasGg0eib8EedrO1Ez3e1JtsMDtp4+qtrvlqgIAAAAAAIB+LBaLQ7NwLoVbM/2RQvxbdY99Nwur5XL5qefTlI2ZNZJ+/kvuB9J/tL/rvf7JJFkJkl/KJtlb0LWLJMnPsuuzbZ6raKRwu6toKdx4v47RY6b73ROt+yrX6V9a2T53O6nTv7SyXXY7u07/0spSdzv7mP6llaXsdvY0/UurG5fpX1pZym7He9GaaCFaiI7eKSTR8hdH65C/VHq0EB29E0ei5S+J1iF/gfRojat4wyJER+8Ukmj5i6N1yF8qPVqIjt6JI9Hyl0TrkL9AerTGVbxhEaKjdwpJtF5JeJB0Iem4q/XmZ/5yM2sdWr9f45PsEawtI9EhhM9v11jX9ZH3urITLen47RrN7Iv/uspoHd/815XnMFxnNwy5exdSRP9OSTS3STXIbdKw8v431MTKzE57i25vr7e32L0Xr4mUme6qqjroLXqTamuQHbaS3G41kyS/TnZ91vYfBmR4Kbe9qH/dtYu0JAMAwLiRdMLXMfTdNCTso7vJ+kvSpaSv8/l80TTNrPcfypSmaWatk9aNFK42rvL4UClOoRAtREfvFJJo+YujdchfKj1aiI7eiSPR8pdE61DGPZrPnkOKaA5nNUyiOZzVAKI5nNUQkjmcjUNI5nBW/00uh7MAAAAAAAAAAAAA1dY8AtJ1S0Foyup1AAAAAElFTkSuQmCC"/>
                    </defs>
                    </svg>
                    
            </span>
            Experiencia laboral
        </h2>
        <div class="relative border-l border-gray-800 space-y-12">
            <!-- Primer trabajo -->
            <div class="relative pl-10">
                <div class="absolute -left-[5px] mt-1.5 h-2.5 w-2.5 rounded-full border border-gray-800 bg-gray-950"></div>
                <div class="grid grid-cols-1 md:grid-cols-[300px_1fr] gap-4 md:gap-8">
                    <!-- Columna izquierda: Título y detalles -->
                    <div>
                        <h3 class="text-xl font-medium mb-1 text-primary"> Desarrollador Frontend Angular</h3>
                        <div class="flex flex-col text-sm">
                            <span class="font-bold">No Country</span>
                            <span >Octubre 2024-Presente</span>
                        </div>
                    </div>
                    
                    <!-- Columna derecha: Descripción -->
                    <div class="space-y-4">
                        <p class="text-backgroundDark leading-relaxed dark:text-background">
                            Desarrollé una aplicación de gestión escolar con Angular, permitiendo a administradores, profesores y
 estudiantes acceder a funciones específicas según sus roles. Implementé una interfaz moderna y
 responsiva, optimizando la eficiencia y la usabilidad para todos los usuarios
                        </p>
                        <a href="#" class="inline-flex items-center text-sm hover:text-gray-300  text-primary transition-colors">
                            Saber más
                            <svg class="ml-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Segundo trabajo -->
            <div class="relative pl-10">
                <div class="absolute -left-[5px] mt-1.5 h-2.5 w-2.5 rounded-full border border-gray-800 bg-gray-950"></div>
                <div class="grid grid-cols-1 md:grid-cols-[300px_1fr] gap-4 md:gap-8">
                    <!-- Columna izquierda: Título y detalles -->
                    <div>
                        <h3 class="text-xl font-medium mb-1"> Desarrollador Frontend Angular </h3>
                        <div class="flex flex-col text-sm">
                            <span class="font-bold"> Ademass Training Development</span>
                            <span>Abrir 2024-Julio 2024</span>
                        </div>
                    </div>
                    
                    <!-- Columna derecha: Descripción -->
                    <div class="space-y-4">
                        <p class=" leading-relaxed">
                            Desarrollé una aplicación web de gestión de tareas utilizando Angular, con el objetivo de proporcionar
 a los usuarios una herramienta eficiente para organizar y manejar sus tareas diarias. La aplicación
 permite crear, editar, eliminar y visualizar tareas, con opciones avanzadas de filtrado y categorización.
                        </p>
                        <a href="#" class="inline-flex items-center text-sm hover:text-gray-300 transition-colors text-primary">
                            Saber más
                            <svg class="ml-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>